body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        background: #f2f2f2;
        margin: 0;
        padding: 40px 0;
    }

    .menu-container {
        width: 380px;
        background: #333;
        color: rgb(236, 228, 228);
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    h1 {
        text-align: center;
        color: #ffd700;
        margin-bottom: 5px;
    }

    h2 {
        text-align: center;
        margin-top: 0;
        font-weight: 300;
        color: #ccc;
    }

    .item, .combo-item {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid #555;
    }

    .combos-title {
        background: #ffdd00;
        color: #333;
        padding: 8px;
        font-weight: bold;
        margin: 20px 0 10px 0;
        border-radius: 4px;
        text-align: center;
    }
